{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Acceder {% endblock %}

{% block body %}

    <div id="app">
        <Login />    
    </div>   







    <form method="post" class="d-none">
        {% if error %}
            <div class="alert alert-danger" id="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        Email: <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control">
        
        Pass: <input type="password" name="password" id="inputPassword" class="form-control">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-outline-danger my-3" id="botonAcceder" type="submit">Acceder</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById("emailLogin").onkeyup = () => {
                document.getElementById("inputEmail").value = document.getElementById("emailLogin").value;
        }

        document.getElementById("password").onkeyup = () => {
                document.getElementById("inputPassword").value = document.getElementById("password").value;
        }

        document.getElementById("acceder").onclick = () => { 
            document.getElementById("botonAcceder").click();
        }

        function validar(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            if (tecla==13) {
                document.getElementById("acceder").click();
            }                
        }

        {# if(document.getElementById("errors").value !== null){
            document.getElementById("alertas").innerHTML = document.getElementById("errors").innerHTML;
        } #}
    </script>
{% endblock %}