body {
    background-color: papayawhip;
}

footer {
    margin-top: 16em;
    padding: 1em;
    display: none;
}


@media screen and (min-width:1024px) {
    .logout{
        margin-left: 37em;
    }
}