{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Registrarme{% endblock %}

{% block body %}
    
    <div id="registro">
        <Registro />    
    </div>  

    {% for message in app.flashes('registrado') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}

    <div class="">
        {{ form(formulario) }}
    </div>  


{% endblock %}

{% block javascripts %}
    <script>
        document.getElementsByClassName("input-formulario")[1].onkeyup = () => {
            document.getElementById("usuarios_email").value = document.getElementById("emailRegistro").value;
        }

    </script>
{% endblock %}

