{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Registrarme{% endblock %}

{% block body %}
    {{ parent() }} 
    
    <div id="registro">
        <Registro />    
    </div>  
{% endblock %}
