{% extends 'base.html.twig' %}

{% block title %}Quiero ser socio =){% endblock %}

{% block body %}
    {{ parent() }}

    <div id="app" class="d-block">
        <Socio />  
    </div>  
    
    <div class="d-block">
        {{ form(formularioSocios)}}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
