{% extends 'base.html.twig' %}

{% block title %}Quiero ser socio =){% endblock %}

{% block body %}
    {{ parent() }}

    <div id="app">
        <Socio />  
    </div>  

    <div class="">
        {{ form(formularioSocios)}}
    </div>
    
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById("pagoSocios").onkeyup = () => {
            document.getElementById("socios_metodo_pago").value = document.getElementById("pagoSocios").value;
        }

        document.getElementById("enviarSocios").onclick = () => {
            {# document.getElementById("socios_Enviar").click(); #}
            console.log("Click");
        }
    </script>
{% endblock %}
